{% extends 'base.html.twig' %}

{% block title %}Green Gourmet - Trouvez votre restaurant{% endblock %}

{% block body %}
    <section class="index-restaurants">
        <div class="selection">
            {{ form_start(formView) }}
                <div class="search-city">
                    <div class="label">{{ form_label(formView.city) }}</div>
                    <div class="input">{{ form_widget(formView.city) }}</div>
                </div>
                <div class="search-category">
                    <div class="label">{{ form_label(formView.category) }}</div>
                    <div class="input">{{ form_widget(formView.category) }}</div>
                    </div>
                <div class="">
                    <button type="submit" class="submit">
                    <i class=""></i>
                    Valider
                    </button>
                </div>
            {{ form_end (formView) }}
        </div>
        {# {{ dump(restaurants) }} #}
        <div class="all-restaurants">
            {% for restaurant in restaurants %}
            <div class="card">
                <div class="image">
                </div>
                <div class="infos" >
                    <div class="resume">
                        <h6>{{ restaurant.name }}</h6>
                        {# <p class="">{{ restaurant.address }}</p> #}
                        {% if restaurant.category %}
                            <p class="category">{{ restaurant.category.name }}</p>
                        {% endif %}
                        {% if restaurant.city %}
                            <p class="city">{{ restaurant.city.name }}</p>
                        {% endif %}
                    </div>

                        {% if restaurant.description %}
                            <p class="desc">{{ restaurant.description|u.truncate(250, '...') }}</p>
                        {% endif %}

                    <a href="{{path('app_restaurant', {'id' : restaurant.id})}}">En savoir plus</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
