{% extends 'base.html.twig' %}

{% block title %}Trouvez votre restaurant{% endblock %}

{% block body %}
    {{ form_start(formView) }}
        {{ form_row(formView.city) }}
        {{ form_row(formView.category) }}
        <div class="">
			<button type="submit" class="">
				<i class=""></i>
				Valider
			</button>
		</div>
    {{ form_end (formView) }}
    {{ dump(restaurants) }}
    {% for restaurant in restaurants %}
    <div class="example-wrapper">
        <div class="" >
            <h6>{{ restaurant.name }}</h6>
            <span class="">{{ restaurant.address }}</span>
            {% if restaurant.category %}
                <span class="">{{ restaurant.category.name }}</span>
            {% endif %}
            {% if restaurant.city %}
                <span class="">{{ restaurant.city.name }}</span>
            {% endif %}
            <a href="{{path('app_restaurant', {'id' : restaurant.id})}}">Y aller!!</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}
