{% extends 'base.html.twig' %}

{% block title %}Voici votre restaurant{% endblock %}

{% block body %}

<section class="restaurant">
    <div class="image">
    </div>
    <div class="resume">
           <div class="info" >
               <h6>{{ restaurant.name }}</h6>
               {% if restaurant.category %}
                <p class="category">{{ restaurant.category.name }}</p>
               {% endif %}
               <p class="address">{{ restaurant.address }}</p>
               {% if restaurant.city %}
                <p class="city">{{ restaurant.city.name }}</p>
               {% endif %}
            </div>
            <div>
               {% if restaurant.description %}
                <p class="desc">{{ restaurant.description }}</p>
               {% endif %}
           </div>
    </div>
</section>
{% endblock %}
