<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css2?family=Gabarito&display=swap" rel="stylesheet"> 
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
            <link rel="stylesheet" href="{{ asset('css/commons.css') }}">
            <link rel="stylesheet" href="{{ asset('css/banner.css') }}">
            <link rel="stylesheet" href="{{ asset('css/home.css') }}">
            <link rel="stylesheet" href="{{ asset('css/index-restaurants.css') }}">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    <header>
        <section class="banner">
            <div class="banner-content">
                <div class="search">
                    <a href="{{ path ('app_search_restaurant') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 513.749 513.749" style="enable-background:new 0 0 513.749 513.749;" xml:space="preserve" width="30" height="30">
                        <g>
                        <path d="M504.352,459.061l-99.435-99.477c74.402-99.427,54.115-240.344-45.312-314.746S119.261-9.277,44.859,90.15   S-9.256,330.494,90.171,404.896c79.868,59.766,189.565,59.766,269.434,0l99.477,99.477c12.501,12.501,32.769,12.501,45.269,0   c12.501-12.501,12.501-32.769,0-45.269L504.352,459.061z M225.717,385.696c-88.366,0-160-71.634-160-160s71.634-160,160-160   s160,71.634,160,160C385.623,314.022,314.044,385.602,225.717,385.696z"/>
                        </g></svg>
                    </a>
                </div>
                <div class="logo">
                    <a href="{{ path("app_home") }}">
                        <svg width="171" height="184" viewBox="0 0 293 316" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M280.956 0.308819L93.7855 19.3183C88.3864 19.8808 84.337 24.7175 84.7869 30.1167C85.2368 35.6283 89.9611 39.6777 95.3603 39.3402L283.206 29.6667C284.546 29.5953 285.859 29.2581 287.067 28.6747C288.276 28.0913 289.357 27.2734 290.246 26.2686C291.136 25.2638 291.817 24.0921 292.25 22.8216C292.683 21.5512 292.858 20.2074 292.767 18.8684L291.98 9.53238C291.875 8.1977 291.506 6.89727 290.892 5.70734C290.279 4.51741 289.434 3.46195 288.407 2.60285C287.381 1.74375 286.193 1.09831 284.913 0.704385C283.634 0.310457 282.288 0.175974 280.956 0.308819Z" fill="#E39D89"/>
                        <path d="M107.621 15.2577C109.112 15.2577 110.543 15.8503 111.598 16.905C112.652 17.9597 113.245 19.3902 113.245 20.8819V184.319C113.245 185.81 112.652 187.241 111.598 188.296C110.543 189.35 109.112 189.943 107.621 189.943C106.129 189.943 104.699 189.35 103.644 188.296C102.589 187.241 101.997 185.81 101.997 184.319V20.8931C101.997 19.4015 102.589 17.971 103.644 16.9162C104.699 15.8615 106.129 15.2577 107.621 15.2577Z" fill="#FCD53F"/>
                        <path d="M283.093 60.8131L95.1353 56.6513C89.6237 56.4263 85.0119 60.7006 84.7869 66.2123C84.5619 71.6114 88.7238 76.3357 94.1229 76.6732L281.744 90.1711C287.368 90.621 292.317 86.2342 292.542 80.61L292.992 71.274C293.217 65.6499 288.718 60.9256 283.093 60.8131Z" fill="#E39D89"/>
                        <path d="M135.516 57.8998C135.516 56.4082 134.924 54.9777 133.869 53.923C132.814 52.8682 131.384 52.2757 129.892 52.2757C128.401 52.2757 126.97 52.8682 125.916 53.923C124.861 54.9777 124.268 56.4082 124.268 57.8998V186.917C124.268 188.409 124.861 189.839 125.916 190.894C126.97 191.949 128.401 192.541 129.892 192.541C131.384 192.541 132.814 191.949 133.869 190.894C134.924 189.839 135.516 188.409 135.516 186.917V57.8998ZM158.35 57.8998C158.35 56.4082 157.758 54.9777 156.703 53.923C155.648 52.8682 154.218 52.2757 152.726 52.2757C151.235 52.2757 149.804 52.8682 148.749 53.923C147.695 54.9777 147.102 56.4082 147.102 57.8998V129.326C147.102 130.818 147.695 132.248 148.749 133.303C149.804 134.358 151.235 134.95 152.726 134.95C154.218 134.95 155.648 134.358 156.703 133.303C157.758 132.248 158.35 130.818 158.35 129.326V57.8998Z" fill="#FCD53F"/>
                        <path d="M205.143 262.337H65.1025L53.9667 302.268C52.167 308.792 57.0037 315.203 63.8652 315.203H206.493C213.242 315.203 218.191 308.792 216.391 302.268L205.143 262.337Z" fill="#165810"/>
                        <path d="M166.449 283.877H103.684C46.8803 283.877 0.875 237.759 0.875 180.956V162.284C0.875 158.009 4.36196 154.522 8.63629 154.522H261.722C265.996 154.522 269.483 158.009 269.483 162.284V180.956C269.371 237.759 223.365 283.877 166.449 283.877Z" fill="#1E8E3D"/>
                        </svg>
                        <p class="brand-name"><em>GREEN</em> GOURMET</p>
                    </a>
                </div>
                <div class="user">
                    <div class="calendar">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="30" height="30"><path d="M19,2H18V1a1,1,0,0,0-2,0V2H8V1A1,1,0,0,0,6,1V2H5A5.006,5.006,0,0,0,0,7V19a5.006,5.006,0,0,0,5,5H19a5.006,5.006,0,0,0,5-5V7A5.006,5.006,0,0,0,19,2ZM2,7A3,3,0,0,1,5,4H19a3,3,0,0,1,3,3V8H2ZM19,22H5a3,3,0,0,1-3-3V10H22v9A3,3,0,0,1,19,22Z"/><circle cx="12" cy="15" r="1.5"/><circle cx="7" cy="15" r="1.5"/><circle cx="17" cy="15" r="1.5"/></svg>
                        </a>
                </div>
                <div class="profile">
                    <a href="{{ path("app_login") }}">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="30" height="30"><path d="M12,12A6,6,0,1,0,6,6,6.006,6.006,0,0,0,12,12ZM12,2A4,4,0,1,1,8,6,4,4,0,0,1,12,2Z"/><path d="M12,14a9.01,9.01,0,0,0-9,9,1,1,0,0,0,2,0,7,7,0,0,1,14,0,1,1,0,0,0,2,0A9.01,9.01,0,0,0,12,14Z"/></svg>
                    </a>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                <div class="admin-panel">
                    <a class="button" href="{{ path ('admin') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="30" height="30">
                        <g>
                            <path d="M34.283,384c17.646,30.626,56.779,41.148,87.405,23.502c0.021-0.012,0.041-0.024,0.062-0.036l9.493-5.483   c17.92,15.332,38.518,27.222,60.757,35.072V448c0,35.346,28.654,64,64,64s64-28.654,64-64v-10.944   c22.242-7.863,42.841-19.767,60.757-35.115l9.536,5.504c30.633,17.673,69.794,7.167,87.467-23.467   c17.673-30.633,7.167-69.794-23.467-87.467l0,0l-9.472-5.461c4.264-23.201,4.264-46.985,0-70.187l9.472-5.461   c30.633-17.673,41.14-56.833,23.467-87.467c-17.673-30.633-56.833-41.14-87.467-23.467l-9.493,5.483   C362.862,94.638,342.25,82.77,320,74.944V64c0-35.346-28.654-64-64-64s-64,28.654-64,64v10.944   c-22.242,7.863-42.841,19.767-60.757,35.115l-9.536-5.525C91.073,86.86,51.913,97.367,34.24,128s-7.167,69.794,23.467,87.467l0,0   l9.472,5.461c-4.264,23.201-4.264,46.985,0,70.187l-9.472,5.461C27.158,314.296,16.686,353.38,34.283,384z M256,170.667   c47.128,0,85.333,38.205,85.333,85.333S303.128,341.333,256,341.333S170.667,303.128,170.667,256S208.872,170.667,256,170.667z"/>
                        </g></svg>
                    </a>
                </div>
                {% elseif is_granted('ROLE_USER') %}
                <div class="admin-panel">
                    <a class="button" href="{{ path ('app_profile') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="30" height="30">
                        <g>
                            <path d="M34.283,384c17.646,30.626,56.779,41.148,87.405,23.502c0.021-0.012,0.041-0.024,0.062-0.036l9.493-5.483   c17.92,15.332,38.518,27.222,60.757,35.072V448c0,35.346,28.654,64,64,64s64-28.654,64-64v-10.944   c22.242-7.863,42.841-19.767,60.757-35.115l9.536,5.504c30.633,17.673,69.794,7.167,87.467-23.467   c17.673-30.633,7.167-69.794-23.467-87.467l0,0l-9.472-5.461c4.264-23.201,4.264-46.985,0-70.187l9.472-5.461   c30.633-17.673,41.14-56.833,23.467-87.467c-17.673-30.633-56.833-41.14-87.467-23.467l-9.493,5.483   C362.862,94.638,342.25,82.77,320,74.944V64c0-35.346-28.654-64-64-64s-64,28.654-64,64v10.944   c-22.242,7.863-42.841,19.767-60.757,35.115l-9.536-5.525C91.073,86.86,51.913,97.367,34.24,128s-7.167,69.794,23.467,87.467l0,0   l9.472,5.461c-4.264,23.201-4.264,46.985,0,70.187l-9.472,5.461C27.158,314.296,16.686,353.38,34.283,384z M256,170.667   c47.128,0,85.333,38.205,85.333,85.333S303.128,341.333,256,341.333S170.667,303.128,170.667,256S208.872,170.667,256,170.667z"/>
                        </g></svg>
                    </a>
                </div>
                {% endif %}
            </div>
            </div>
        </section>
        <nav class="banner-nav">
            <ul>
                <li><a href="{{ path ('app_home') }}">Accueil</a></li>
                <li><a href="{{ path ('app_search_restaurant') }}">Les restaurants</a></li>
                <li><a href="{{ path ('app_about_us') }}">Green Gourmet</a></li>
            </ul>
        </nav>
    </header>
        {% block body %}{% endblock %}
    </body>
</html>
