<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    
    {% block stylesheets %}
			<link rel="stylesheet" href="/css/banner.css">
	{% endblock %}
</head>
<body>
    <div class="banner">
        <div class="top-section">
            <!-- Contenu de la partie supérieure de la bannière -->
            <a class="button" href="{{ path ('app_login') }}">Connexion</a>
            {% if is_granted('ROLE_ADMIN') %}<a class="button" href="{{ path ('admin') }}">Administration</a>{% endif %}
        </div>
        <div class="bottom-section">
            <!-- Contenu de la partie inférieure de la bannière -->
            <a class="button" href="{{ path ('app_home') }}">Accueil</a>
            <a class="button" href="{{ path ('app_restaurant') }}">Les restaurants</a>
            <a class="button" href="{{ path ('app_about_us') }}">Green Gourmet</a>
        </div>
    </div>
    {% block body %}{% endblock %}
</body>
</html>
